// Parameters configuration
params {

    //standard inputs
    reference = false
        bamlist = false
        outdir = 'results'
        build = 'hg38'

        //process configurations
        cpus = 2
        memory = '5 GB'
        executor = 'awsbatch'
        container = 'quay.io/genedoctor/test1' 
}

// ********************************
// Process configuration
process {
    cpus = params.cpus
        memory = params.memory
        executor = params.executor
        container = params.container
}

// ********************************
// Docker configuration
docker {
    enabled = true
}

// ********************************
// Executor configuration
executor {
    name = params.executor
}
